@import "../../style/partials/variables";
@import "../../style/partials/mixins";

.competitions {
  &__wrapper {
    @include page-wrapper;
    display: flex;
    flex-direction: column;
    gap: calc($base-padding * 1.5);
    align-items: flex-start;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $base-padding;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__switch {
    display: inline-flex;
    font-size: 14px;
    border: 1px solid $purple;
    border-radius: calc($base-border-radius * 1.5);
    overflow: hidden;
    align-items: center;
    cursor: pointer;

    &-value {
      border-radius: $base-border-radius;
      padding: calc($base-padding / 2) $base-padding;

      &--active {
        background-color: $purple;
        border: 1px solid $purple;
        color: $white;
      }
    }
  }

  &__filter {
    padding: $base-padding calc($base-padding * 1.5);
    background-color: $white;
    box-shadow: 0px 5px 42px 2px rgba(114, 80, 149, 0.15);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: $base-padding;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__latest {
    display: flex;
    flex-direction: column;
    gap: $base-padding;
    width: 100%;
  }

  &__competitions {
    display: flex;
    flex-wrap: wrap;
    gap: $base-padding;
  }

  &__competition {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: calc($base-padding / 2);
    cursor: pointer;

    @include tablet {
      width: 150px;
    }

    &-main {
      padding: $base-padding;
      border-radius: $base-border-radius;
      background-color: $accent;
      position: relative;
      min-height: 180px;

      &--inactive {
        background-color: #e7e7e7;
      }
    }

    &-image {
      width: 95px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    &-info {
      position: absolute;
      top: 15px;
      left: 15px;
    }

    &-category {
      margin: 0;
      color: $purple;
      font-weight: 600;
    }

    &-pot {
      margin: 0;
      color: rgb(100, 190, 100);
    }

    &-name {
      margin: 0;
      font-size: 14px;
    }
  }
}

.page-three {
  display: flex;
  flex-direction: column;
  gap: calc($base-padding * 2);

  &__header {
    display: flex;
    justify-content: space-between;

    &-info {
      color: $gray;
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: calc($base-padding * 2);
    background-color: $accent;
    padding: 16px;
    border-radius: 5px;
  }
}

.will_they_win {
  color: $accent2;
  cursor: pointer;
  pointer-events: all;
}

.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 8px 6px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #ffffff;
}

.MuiLinearProgress-colorPrimary {
  background-color: #3e3ec7;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #ececec59;
  border-radius: 0.25rem;
}

.progress-bar {
  background-color: #a48532;
}

.circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: #000;
  text-align: center;
  background: #fff;
  font-weight: bold;
}

p.sidelabel {
  font-size: small;
  margin-top: "-18%";
}

p.sidelabel-data {
  font-size: medium;
  font-weight: 900;
}

p.card-info {
  font-size: medium;
}

@media (max-width: 768px) {
  p.sidelabel {
    font-size: small;
  }

  p.sidelabel-data {
    font-size: small;
  }

  p.card-info {
    font-size: small;
  }

  span.transformText {
    transform: translate(-12%, 0%);
  }

  .btn-circle.btn-xl {
    width: 30px;
    height: 30px;
    padding: 3px 0px;
    font-size: 15px;
  }
}



// -------------------------------------------------



*{
  margin: 0;
  padding: 0;
}


.cardWrapper{
 height:80vh;
 width:100%;
 

}

.cardOuterWrapper{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card{
  position: relative;
  width: 400px;
  height: 100%;
  
  background: linear-gradient(191.37deg, rgba(205, 187, 26, 0.69) 2.22%, rgba(238, 217, 33, 0.69) 93.73%);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
 padding: 0 1rem;
 box-sizing: border-box;


}


.cardUppertitle{
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
height: 7vh;
font-family: Roboto;

}

.cardUppertitle span{
  font-weight: bold;
}


.manstand{
  display: flex;
  align-items: center;
  width: 100%;
  height: 12vh;
  justify-content: space-around;
  font-family: Roboto;
}

.manstand img{
  height: 50px;
  width: 50px;
}

.main{
  height: 45vh;
  width: 90%;
  background-color: black;
  border-radius: 20px;
  padding:  1rem;
}

.mainFrist{
  background-color: #725095;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto;
  color: white;
}

.mainFrist h1{
  font-size: 1rem;
}




.mainsecond{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
font-family: Roboto;
}

.mainsecond h5{
  color: white;
}
.mainsecond h2{
  color: white;
  font-size: 1.5rem;
}
.hr{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

hr{
  outline: none;
  border: none;
  height: 1.6px;
  background-color: rgba(246, 243, 243, 0.54);
  margin: .6rem 0;
  width: 70%;
  
}

.left{
  background-color: #725095;
  height: 80%;
  width: 47%;
  border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.right{
  background-color:white;
  height: 80%;
  width: 48%;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: .5rem 0;
  box-sizing: border-box;
}

.right h1{
  color: #725095;
  font-size: 1.5rem;
  font-weight: bold;
}
.right h6{
  font-size: 1rem;
  font-weight: bold;
}

.right .one{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.right .two{
flex: 1;

}

.mainthird{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  width: 100%;
  height: 15vh;
  /* border-radius: 10px; */
}

.upperMainthird{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 7vh;
  width: 100%;
  font-family: Roboto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.cardUppertitle h2{
  margin-left: .8rem;

}
.img{
  display: flex;
  align-items: center;
  flex: 1;
}

.upperMainthird span{
 margin-left: 5px;
 margin-right: 5px;
  white-space: wrap;
}
.upperMainthird img{
  height: 30px;
  width: 30px;
  margin: 0 5px;
}



.mainlowerthird{
  background-color: #725095;
  height: 7vh;
  width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
font-family: Roboto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color: white;

}

.mainlowerthird h4{
  font-weight: 300;
}
.mainlowerthird h3{
  font-weight: 500;
  font-size: 1rem;
}


.upperHead{
  margin-left: 1rem;
}
.upperHead h2{
  font-size: 1rem;
}
.head{
  flex: 2;
  margin-left: 1rem;
}

.head h2{
  font-size: 1rem;
}

.votes{
  flex: 1;
}



.mainforth{
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  border-radius: 10px;
  font-family: Roboto;
}

.mainforth h2{
  font-size: 1.5rem;
  color: #725095;
}
.mainforth h4{
  color: #00000076;
}







.footWrapper{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}



.foot{
  background: linear-gradient(108.12deg, #D4E3FF 5.53%, #3344DC 157.47%);
box-shadow: 0px 0px 17.7796px rgba(114, 80, 149, 0.17);
border-radius: 8.88979px;
height: 50px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
/* flex-direction:column; */
color: white;
font-weight: bold;
font-family: Roboto;
}

.foot button{
  outline: none;
  border: none;
  background: rgba(114, 80, 149, 0.19);
  border-radius: 50%;
  height: 30px;
  width: 30px;
color: white;
font-weight: bold;


}